/* font-family: 'Asap', sans-serif; headings*/
/* font-family: 'Roboto', sans-serif; paragraphs*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.project {
  max-width: 300px;
  margin: 3rem;
  display: inline-block;
  -align: right; 
}
.test img {
 float: right;
 margin-right: 50px;
}
img {
  max-width: 300px;
  display: inline-block;
}
/* .main_content { */
  text-align: center;
}
body {
  margin: 0 auto;
}
h1,
h2 {
  font-family: "Asap", sans-serif;
  /* text-align: center; */
}
p {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: beige;
}
a {
  text-decoration: none;
}

hr {
  width: 80%;
  text-align: center;
  margin: auto;
}

footer {
  background-color: beige;
}

a:hover {
  text-decoration: underline;
}
