a:hover {
  text-decoration: underline;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* font-family: 'Asap', sans-serif; headings*/
/* font-family: 'Roboto', sans-serif; paragraphs*/
body {
  margin: 0 auto;
}
.me {
  clear: both;
}
h1 {
  font-family: "Asap", sans-serif;
}
p {
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
}
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Asap", sans-serif;
}

main {
  text-align: center;
}

nav {
  text-decoration: none;
}
header {
  background-color: beige;
  text-align: center;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 320px;
}
hr {
  width: 50%;
  text-align: center;
  margin: auto;
}
footer {
  background-color: beige;
}
.bottom-name {
  display: inline-block;
}
.mobile_return {
  display: inline-block;
}
@media (max-width: 320px) {
  .mobile-return {
    display: none;
  }
}
@media (max-width: 320px) {
  .hide {
    display: none;
  }
}
